@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/tech_background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

header{
    height: 60px;
    width: 100%;
    z-index: 12;
    position: fixed;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

.toggle{
    display: none;
}

nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #ffffff;
    font-size: 12px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    position: absolute;
    left: 20%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.col_1{
    flex-basis: 40%;
    position: relative;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 100px;
}

.col_1 h1{
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    color: white;
}

.col_1 h2{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin: 20px 0 10px;
    font-family: calibri;
    font-weight: bold;
}

.col_1 p{
    font-size: 20px;
    color: white;
    font-size: 100;
    margin: 20px 0 10px;
    font-family: calibri;
    font-weight: bold;
}

.col_1::after{
    content: '';
    width: 10px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -40px;
    top: 0px;
}

.col_2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col_2 .controller {
    width: 40%;
    border-radius: 10px;
    margin: 0 200px 0;
}



.social-icons img{
    width: 25px;
    height: 25px;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.social-icons img:hover{
    background-color: #b9c2bd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    color: #ffffff;
}
.social-icons{
    display: flex;
}

.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-10%);
}

.a-social-b img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 8px;
    margin: 0px;
    line-height: 0px;
    background-color: #e6e3e3;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-top: 5px;
}

.a-social-b img:hover{
    background-color: #b9c2bd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    color: #ffffff;
}

footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.name{
    color: #302c2c;
    font-size: 16px;
    font-family: calibri;
    margin: 0%;
    font-weight: bold;
}

.name img:nth-child(3){
    height: 15px;
    width: 15px;
    right: 0px;
    margin-bottom: -2px;
}

.name img:nth-child(5){
    height: 18px;
    width: 18px;
    right: 0px;
    margin-bottom: -4px;
}

.copyright{
    color: #302c2c;
    font-size: 16px;
    font-family: calibri;
    margin-top: 20px;
}
